asttokens==2.4.1
async-timeout==4.0.3
backports.tarfile==1.2.0
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
defusedxml==0.7.1
exceptiongroup==1.2.2
executing==2.0.1
Flask==3.0.3
idna==3.7
importlib_metadata==8.1.0
ipython==8.18.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1
Jinja2==3.1.4
jira==3.8.0
keyring==25.2.1
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
more-itertools==10.3.0
oauthlib==3.2.2
packaging==24.1
parso==0.8.4
pdfkit==1.0.0
pexpect==4.9.0
pillow==10.4.0
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
redis==5.0.7
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rq==1.16.2
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.0.3
zipp==3.19.2
